<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>Welcome to Film Critics</title>
    <style>
      body { font-family: Arial, sans-serif; background-color: #f2f2f2; margin:
      0; padding: 0; } .container { max-width: 600px; margin: 0 auto; padding:
      20px; background-color: #fff; border-radius: 5px; box-shadow: 0px 0px 10px
      rgba(0, 0, 0, 0.1); } .header { background-color: #333; color: #f04b37;
      padding: 20px 0; text-align: center; border-radius: 5px 5px 0 0; } .header
      h1 { font-size: 28px; margin: 0; } .welcome-message { background-color:
      #fff; color: #333; padding: 20px; } p { font-size: 16px; line-height: 1.6;
      margin: 0; } .user-info { text-align: center; margin-top: 20px; }
      .user-name { font-size: 24px; color: #f04b37; margin: 0; } .profile-image
      { width: 100px; height: 100px; border-radius: 50%; margin: 20px 0; }
      .catchphrase { text-align: center; font-style: italic; color: #777; }
      .button-container { margin-bottom: 30px; text-align: center; margin-top:
      20px; } .action-button { background-color: #f04b37; color: #fff; border:
      none; padding: 10px 20px; font-size: 18px; border-radius: 5px;
      text-decoration: none; cursor: pointer; transition: background-color 0.3s
      ease; } .action-button:hover { background-color: #cd665a; } .footer {
      background-color: #333; color: #fff; text-align: center; padding: 10px 0;
      border-radius: 0 0 5px 5px; } .footer p { font-size: 14px; margin: 0; }
    </style>
  </head>
  <body>
    <div class='container'>
      <div class='header'>
        <h1>Welcome to Film Critics</h1>
      </div>
      <div class='welcome-message'>
        <p>Hi <span class='user-name'>{{name}}</span>,</p>
        <p>Explore and share your movie reviews and ratings with the Film
          Critics community!</p>
      </div>
      <div class='catchphrase'>
        <p>Where every movie has a critic.</p>
      </div>
      <div class='user-info'>
        <img
          class='profile-image'
          src={{profilePicture}}
          alt='Profile Picture'
        />
      </div>
      <div class='button-container'>
        <a class='action-button' href='#'>Get Started</a>
      </div>
      <div class='footer'>
        <p>&copy; 2023 Film Critics. All rights reserved.</p>
      </div>
    </div>
  </body>
</html>